<footer>
  <small>
    site and services by <a href="https://www.aur.netlify.app">aurself</a>.
    follow us on instagram <a href="https://www.instagram.com/aurself/">@aurself</a>.
  </small>
</footer>
